* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* color: #C6C6C6; */
    color: white;
}

body {
    font-family: 'Crimson Text', serif;
    background-color: #141414;
    line-height: 1.6;
}


/* ––– HERO ––– */

.full-screen {
    height: 100vh;
    position: relative;
}

/* Gradient Overlay */
.gradient-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1316px;
    height: 100%;
    background: linear-gradient(
        to bottom, 
        rgba(0, 0, 0, 0.8) 0%,     /* Black at the top */
        rgba(0, 0, 0, 0.2) 30%, /* Semi-transparent black at 20% */
        rgba(0, 0, 0, 0) 100%  /* Fully transparent at the bottom */
      );
    /* background: rgba(255, 0, 0, 0.5); */
    z-index: 1;

}

/* Carousel Container */
#hero-carousel {
    width: 1316px;
    height: 100%;  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

/* Video inside the carousel */
.hero-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

/* Carousel Slide */
.carousel-slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0; /* Hide all carousel slides by default */ 
    transition: opacity 1s ease-in-out; /* Fading effect */ 
}

/* Show only the active slide */
.carousel-slide.active {
    opacity: 1;
}

/* Text overlay inside carousel slide */
.carousel-slide .overlay { /* positions paragraph */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.overlay p {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 52px;
    line-height: 72.8px;
    letter-spacing: .5em;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7); /* Add readability */
}

/* Navigation Buttons */
.prev-btn, .next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 1);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 5px;
    z-index: 5; /* Top layer */
}

.prev-btn { left: 10px; }
.next-btn { right: 10px; }


main{
    background-image: url(images/background-cropped.png);
    background-repeat: no-repeat;
    background-position: top center;
    display: flex;
    flex-direction: column;
    gap: 82px; /* Adds consistent spacing between sections */
}

footer {
    width: 1316px;
    margin-left: auto;
    margin-right: auto;
}


/* ––– NAVIGATION ––– */
header {
    position: absolute;
    width: 100%;
    top: 44px;
    padding: 10px 0;
    text-align: center;
    z-index: 4; /* Above the gradient overlay */
}

#year {
    font-size: 16px;
    font-weight: 600;
    line-height: 18.2px;
    letter-spacing: .2em;
    text-transform: uppercase;
}

nav {
    margin-top: 40px;
    width: 1316px;
    margin-left: auto;
    margin-right: auto;
    line-height: 2em;
}

nav a, #lang-toggle {
    font-family: 'Crimson Text', serif;
    font-size: 20px;
    line-height: 21.6px;
    text-transform: uppercase;
    letter-spacing: .2em;
    margin: 0 30px;
    text-decoration: none;
}

#lang-toggle {
    background-color: rgba(0,0,0,0);
    border: 0px;
}
/* ––– SECTIONS  ––– */

section:not(#home) {
    /* min-height: 100vh; */
    padding-top: 42px;
    padding-bottom: 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}


/* #about {height: 1349px;} */
/* #features {height: 727px} */
/* #delivery {height: 671px} */
/* #processing {height: 645px} */
/* #contact {height: 270px} */

section p {
    font-size: 20px;
    letter-spacing: .02em;
    line-height: 30px;
}

h2 {
    color: white;
    font-size: 44px;
    line-height: 61.6px;
    letter-spacing: .2em;
    text-transform: uppercase;
    margin-bottom: 40px;
}

/* ––– ABOUT ––– */
#about{
    width: 862px;
    margin: auto;
    margin-top: 0px !important; 
}

#about h2 {
    padding-top: 168px; 
}

#about > p {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 88px;
}

#product-carousel {
    width: 862px;
}

#product-thumbnails {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.product-frame {
    width: 182px; /* Frame width */
    height: 182px; /* Frame height */
    position: relative; /* Allows positioning of overlay */
    overflow: hidden; /* Crops overflowing parts of the image */
    display: flex; /* Enables centering the image */
    align-items: center; /* Vertically centers image */
    justify-content: center; /* Horizontally centers image */
    filter: grayscale(100%); /* Fully desaturate the image */
    transition: filter 0.5s ease; /* Smooth transition for the filter property */
}
  
.product-frame img {
    height: 100%; /* Adjust as needed */
    width: auto; /* Maintain aspect ratio */
}

.product-frame:hover, .product-frame.active {
    filter: grayscale(0%); /* Fully desaturate the image */
}

.product-caption{
    position: absolute; /* Positions the text over the image */
    top: 50%; /* Centers vertically */
    left: 50%; /* Centers horizontally */
    transform: translate(-50%, -50%); /* Adjusts for exact center */
    color: white; /* Text color */

    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2em;
    text-align: center;

    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7); /* Add readability */
}

.main-product-frame{
    height: 480px; /* Frame height */
    position: relative; /* Allows positioning of overlay */
    overflow: hidden;
}

/* Carousel styles */
.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.product-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.product-item {
    min-width: 100%;
    display: none;
}

.product-item.active {
    display: block;
}

.product-prev,
.product-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.product-prev {left: 10px;}
.product-next {right: 10px;}



#product-carousel figcaption {
    background-color: #141414;
    /* padding: 20px 0px; */
    height: 121px; /* hard-code instead of padding */

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Hide all figures initially */
#product-carousel figure {
    visibility: hidden; /* Keeps the element in the document flow but hides it */
    position: absolute; /* Remove from document flow */
    opacity: 0; /* Makes the element fully transparent */
}

/* Show the active figure */
#product-carousel figure.active {
    position: relative; /* Bring it back into the document flow (optional, depending on your layout) */
    visibility: visible; /* Makes the element visible */
    opacity: 1; /* Makes the element fully opaque */
    transition: opacity 1s ease-in-out, visibility 1s ease-in-out; /* Smooth transition */
}

/* ------- */
h3 {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
}

figcaption p {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.02em;
    text-align: left;
}
/* ------- */

#product-carousel figcaption > h3 {
    width: 20%;
    padding: 5px 10px;
    border-right: 1px solid #474747;
}

#product-carousel figcaption > p {
    width: 80%;
    padding: 0px 30px
}

/* ––– FEATURES ––– */

#feature-carousel {
    display: flex;
    /* width: 2005px; 636px * 3 (per image) + 100px in gaps */
    width: 1316px;
    gap: 50px;
    justify-content: center;
    align-items: center; /* vertically centered */
    height: 625px;
    position: relative; /* allows positioning of overlay */
    overflow: hidden;
}

.feature-image {
    position: absolute;
    width: 635px;
    transition: transform 0.5s ease-in-out; /* smooth animation */
    cursor: pointer;
    z-index: 1; /* Default z-index for outer images */
    transition: transform 0.5s ease-in-out, z-index 0.5s ease-in-out;
}

.feature-image > img {
    display: block; /* allows image to take up entire container */
    width: 100%;
    height: 412px; /* frame height */
    object-fit: cover;
    position: relative; /* allows positioning of overlay */
    /* overflow: hidden; */
    pointer-events: none;
}


.feature-image figcaption{
    height: 213px;
    background-color: #141414;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 30px;
    
    /* position: absolute; */
    opacity: 0; /* Start fully transparent */
    visibility: hidden; /* Hide the element */
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}

.feature-image figcaption div {
    display: flex;
    padding: 20px 0px;
}

.feature-image figcaption h3 {
    padding: 20px 0px;
    border-bottom: 1px solid #474747;
}

.feature-image figcaption p {
    text-align: left;
    padding-left: 30px;
}


.feature-image.fixed {
    pointer-events: none; /* prevents clicks */
    z-index: 2; /* Higher z-index for the middle (fixed) image */
}

.feature-image.fixed figcaption {
    display: flex;
    /* position: relative; */
    opacity: 1; /* Fully visible */
    visibility: visible; /* Show the element */
}

/* Initial Positions */
#img1 { transform: translateX(-685px); }
#img2 { transform: translateX(0); }
#img3 { transform: translateX(685px); }
  


/* ––– DELIVERY ––– */
#delivery {
    width: 637px;
    margin: auto;
}

#delivery img{
    height: 359px;
    margin-bottom: 28px;
}

/* ––– PROCESSING ––– */
#processing {
    width: 862px;
    margin: auto;
}

#processing-video-container {
    /* width: 100%; */
    height: 485px;
    position: relative;
    margin-bottom: 28px;
}

#processing-video {
    width: 100%;
}

.play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
  }

/* ––– CONTACT ––– */
#contact {
    width: 862px;
    margin: auto; 
    /* margin-top: 84px; */
    margin-bottom: 84px !important;
    /* padding-bottom: 84px; */
}

#phone-numbers{
    margin-top: 42px;
    display: flex;
    width: 80%;
    justify-content: space-around;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: #222;
    color: white;
    font-weight: 600;
    background-color: black;
    border-top: 1px solid #474747;
    font-weight: 400;
}

footer p:first-of-type {
    font-size: 20px;
    margin-bottom: 30px;
}

footer p:nth-of-type(2) {
    font-size: 18px;
}

footer p {
    font-size: 14px;
}

#fb-logo {
    margin: 30px 0px;
}


/* Indicator Circles */
.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
}

.carousel-indicators .indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.carousel-indicators .indicator.active {
    background-color: rgba(255, 255, 255, 1);
}