/* ====== GLOBAL STYLES ====== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: white;
}

body {
    font-family: 'Crimson Text', serif;
    background-color: black;
    line-height: 1.6;
    font-weight: 400;
    
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: auto; /* Allow vertical scrolling */
    height: 100%; /* Ensure the body takes up full viewport height */
}

html, body {
    height: 100%;
}

#container {
    max-width: 1440px;
    margin: auto;
    background-color: #141414; /* gray borders/background */
}

#container > * { /* home, main (with all sections), footer */
    max-width: 1316px;
    margin: auto;
}

/* ====== SCROLLBAR STYLING ====== */
::-webkit-scrollbar {
    display: none;
}

/* ====== NAVIGATION ====== */
header {
    position: absolute;
    width: 100%;
    top: 44px;
    padding: 10px 0;
    text-align: center;
    z-index: 4; /* Above the gradient overlay */
}

header img { /* angel seafoods logo*/
    width: 150px;
}

#year { /* since 1986 */
    font-size: 14px;
    font-weight: 600;
    line-height: 18.2px;
    letter-spacing: .2em;
    text-transform: uppercase;
    color: #E0E0E0; 
}
#hamburger-menu {
    display: none;
}
nav {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    line-height: 2em;
}

nav a, #lang-toggle {
    font-family: 'Crimson Text', serif;
    font-size: 18px;
    line-height: 21.6px;
    text-transform: uppercase;
    letter-spacing: .2em;
    margin: 0 30px;
    text-decoration: none;
    color: #C6C6C6;
}

#lang-toggle {
    background-color: rgba(0,0,0,0);
    border: 0px;
    cursor: pointer;
}



/* ====== CAROUSEL NAVIGATION BUTTONS ====== */
.nav-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    border-radius: 5px;
    z-index: 5; /* Top layer */
}

/* Indicator Circles */
.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
    z-index: 10;
}

.indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.25);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.indicator.active {
    background-color: rgba(255, 255, 255, 1);
}



/* ====== HERO ====== */
#home {
    height: 900px;
    position: relative;
}

.gradient-overlay { /* Gradient Overlay */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to bottom, 
        rgba(0, 0, 0, 0.8) 0%,     /* Black at the top */
        rgba(0, 0, 0, 0.2) 30%, /* Semi-transparent black at 20% */
        rgba(0, 0, 0, 0) 100%  /* Fully transparent at the bottom */
      );
    z-index: 1;
}

#hero-carousel { /* Carousel Container */
    width: 100%;
    height: 100%;  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
}

#hero-indicators {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    gap: 10px;
    z-index: 10;
}

.hero-video { /* Video inside the carousel */
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.carousel-slide { /* Carousel Slide */
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0; /* Hide all carousel slides by default */ 
    transition: opacity 1s ease-in-out; /* Fading effect */ 
}

.carousel-slide.active { /* Show only the active slide */
    opacity: 1;
}

/* Text overlay inside carousel slide */
.carousel-slide .overlay { 
    position: absolute; /* positions paragraph */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.overlay p {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 52px;
    line-height: 72.8px;
    letter-spacing: .5em;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7); /* Add readability */
}

#hero-carousel .prev-btn { left: 10px; padding: 10px 15px; }
#hero-carousel .next-btn { right: 10px; padding: 10px 15px; }

/* ====== BACKGROUND IMAGE + SECTIONS ====== */
main{
    background-image: url(images/background-cropped.png);
    background-repeat: no-repeat;
    background-position: top center;
    
    display: flex;
    flex-direction: column;
    gap: 82px; /* Adds consistent spacing between sections */
}

section:not(#home) {
    padding-top: 42px;
    padding-bottom: 42px;
    text-align: center;
}

/* Section Widths */
#about { width: 862px; margin: auto;} 
#features { width: 100%; }
#delivery { width: 637px; margin: auto; }
#processing { width: 862px; margin: auto; }
#contact { width: 862px; margin: auto; margin-bottom: 84px; }
footer { width: 100%; }

section p {
    font-size: 20px;
    letter-spacing: .02em;
    line-height: 30px;
}

h2 {
    color: white;
    font-size: 44px;
    font-weight: 600;
    line-height: 61.6px;
    letter-spacing: .2em;
    text-transform: uppercase;
    margin-bottom: 40px;
}

/* ====== ABOUT ====== */

#about h2 {
    padding-top: 126px; 
}

#about > p {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 88px;
}

#product-carousel {
    width: 862px;
}

#product-thumbnails {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.product-frame {
    width: 182px; /* Frame width */
    height: 182px; /* Frame height */
    position: relative; /* Allows positioning of overlay */
    overflow: hidden; /* Crops overflowing parts of the image */
    display: flex; /* Enables centering the image */
    align-items: center; /* Vertically centers image */
    justify-content: center; /* Horizontally centers image */
    filter: grayscale(100%); /* Fully desaturate the image */
    transition: filter 0.5s ease; /* Smooth transition for the filter property */
}

.product-frame:hover{
    cursor: pointer;
}
  
.product-frame img {
    height: 100%; /* Adjust as needed */
    width: auto; /* Maintain aspect ratio */
}

.product-frame:hover, .product-frame.active {
    filter: grayscale(0%); /* Fully desaturate the image */
}

.product-caption{
    position: absolute; /* Positions the text over the image */
    width: inherit;
    top: 50%; /* Centers vertically */
    left: 50%; /* Centers horizontally */
    transform: translate(-50%, -50%); /* Adjusts for exact center */
    color: white; /* Text color */

    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.2em;
    text-align: center;

    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7); /* Add readability */
}

.main-product-frame{
    height: 480px; /* Frame height */
    position: relative; /* Allows positioning of overlay */
    overflow: hidden;
}

.product-inner, .product-item, .product-item img {
    height: 100%;
    object-fit: cover;
    object-position: center;
}
/* Carousel styles */
.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.main-product-frame .prev-btn { left: 0px; }
.main-product-frame .next-btn { right: 0px; }

.product-inner {
    /* display: flex; */
    transition: transform 0.5s ease-in-out;
}

.product-item {
    min-width: 100%;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.product-item.active {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

#product-carousel figcaption {
    background-color: #141414;
    /* padding: 20px 0px; */
    height: 121px; /* hard-code instead of padding */

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Hide all figures initially */
#product-carousel figure {
    visibility: hidden; /* Keeps the element in the document flow but hides it */
    position: absolute; /* Remove from document flow */
    opacity: 0; /* Makes the element fully transparent */
}

/* Show the active figure */
#product-carousel figure.active {
    position: relative; /* Bring it back into the document flow (optional, depending on your layout) */
    visibility: visible; /* Makes the element visible */
    opacity: 1; /* Makes the element fully opaque */
    transition: opacity 1s ease-in-out, visibility 1s ease-in-out; /* Smooth transition */
}

/* ------- */
h3 {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.2em;
    text-align: center;
    text-transform: uppercase;
}

figcaption p {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.02em;
    text-align: left;
}
/* ------- */

#product-carousel figcaption > h3 {
    width: 20%;
    padding: 5px 10px;
    border-right: 1px solid #474747;
}

#product-carousel figcaption > p {
    width: 80%;
    padding: 0px 30px
}

/* ====== FEATURES ====== */

#feature-carousel {
    display: flex;
    gap: 50px;
    justify-content: center;
    height: 625px;
    position: relative; /* allows positioning of overlay */
    overflow: hidden; /* hides the images on the side */
}

.feature-image {
    position: absolute;
    width: 635px;
    cursor: pointer;
    z-index: 1; /* Default z-index for outer images */
    will-change: transform, z-index; /* Optimize for transform and z-index changes */
    transition: transform 0.5s ease-in-out, z-index 0.5s ease-in-out;
}

.feature-image > img {
    display: block; /* allows image to take up entire container */
    width: 100%;
    height: 412px; /* frame height */
    object-fit: cover;
    position: relative; /* allows positioning of overlay */
    pointer-events: none;
}

.feature-image figcaption{
    height: 213px;
    background-color: #141414;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 30px;
    
    opacity: 0;  /* Hide the element */
    transition: opacity 0.5s ease-in-out;
}

.feature-image figcaption div {
    display: flex;
    padding: 20px 0px;
}

.feature-image figcaption h3 {
    padding: 20px 0px;
    border-bottom: 1px solid #474747;
}

.feature-image figcaption p {
    text-align: left;
    padding-left: 30px;
}

.feature-image.fixed {
    pointer-events: none; /* prevents clicks */
    z-index: 10; /* Higher z-index for the middle (fixed) image */
}

.feature-image.fixed figcaption {
    display: flex;
    opacity: 1; /* Fully visible */
}

/* Initial Positions */
#img1 { transform: translateX(-685px) translateY(106.5px); } /* Left image */
#img2 { transform: translateX(0); }
#img3 { transform: translateX(685px) translateY(106.5px); } /* Right image */


/* ====== DELIVERY ====== */

#delivery img{
    height: 359px;
    margin-bottom: 28px;
}

/* ====== PROCESSING ====== */

#processing-video-container {
    height: 485px;
    position: relative;
    margin-bottom: 28px;
}

#processing-video {
    width: 100%;
}

.play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease;
  }

/* ====== CONTACT ====== */

#phone-numbers{
    margin-top: 42px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* ====== FOOTER ====== */
footer {
    position: relative;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
    color: white;
    background-color: black;
}

hr {
    border: 1px solid #474747;
}

#scroll-to-top {
    position: absolute;
    right: 10px;
    top: 40%;
}

footer p:first-of-type {
    font-size: 20px;
    margin-bottom: 30px;
    padding-top: 20px;
}

footer p:nth-of-type(2) {
    font-size: 18px;
}

footer p:last-of-type {
    padding-bottom: 20px;
}

footer p {
    font-size: 14px;
}

#fb-logo {
    margin: 30px 0px;
}


/* ====== RESPONSIVE STYLING ====== */
@media (max-width: 1316px) {
    #container { width: 100%; }
    main { width: 100%; }
}

@media (max-width: 862px) {
    
    /* === SECTION WIDTHS === */
    main { padding: 32px; }
    #about { width: 100%} 
    #features { width: 100%; }
    #delivery { width: 100%; }
    #processing { width: 100%; }
    #contact { width: 100%; }
    footer { width: 100%; }
    main {    gap: 46px; }
    section:not(#home) {
        padding-top: 26px;
        padding-bottom: 26px;
    }

    #about h2 { padding-top: 63px; }
    #contact { margin-bottom: 24px}
   


    /* === TEXT SIZING === */
    h2 {
        font-size: 28px;
        line-height: 39.2px;
        margin-bottom: 32px;
    }
    section p { font-weight: lighter; }
    .overlay p { font-size: 32px;}

    /* === PRODUCT === */
    #product-carousel, #product-thumbnails {width: 100%;}
    #product-thumbnails { gap: 5%;}
    .product-frame { 
        width: 100%;  /* Full width of the parent */
        aspect-ratio: 1 / 1;  /* Maintains a square shape */
        height: auto;
    } 

    /* === FEATURES === */
    #feature-carousel {
        display: block;
        overflow: visible;
    }

    .feature-image {
        width: 100%;
        position: absolute;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }

    .feature-image.fixed {
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
    }

    #feature-indicators {
        bottom: -35px;
        gap: 20px;
    }

    /* Initial Positions */
    #img2 { border: 10px solid green; }
    #img1 { transform: translateX(0) translateY(0); } /* Left image */
    #img2 { transform: translateX(0) translateY(0); }
    #img3 { transform: translateX(0) translateY(0); } /* Right image */


    /* === PROCESSING VIDEO === */
    #processing-video-container {
        height: fit-content;
    }

    /* === CONTACT === */
    #phone-numbers {
        flex-direction: column;
        gap: 28px;
    }
}

@media (max-width: 800px) {

    /* === PRODUCT === */
    #product-thumbnails { flex-wrap: wrap; justify-content: center; gap: 32px;}
    .product-frame { width: calc(50% - 32px); }
    .product-frame, .product-frame.active { filter: grayscale(0%);}
    .product-caption { width: 90%; text-align: center;}
    #product-carousel figure { display: none; }
    /* === DELIVERY === */
    #delivery img { width: 100%; height: auto;}

}

@media (max-width: 650px) {
    /* === NAVIGATION === */
    nav {
        display: none;
        flex-direction: column;
        position: relative;
        background-color: black;
        width: fit-content;
        padding: 10px;
        border: 1px solid white;
        z-index: 1000;
    }

    nav a, #lang-toggle {
        display: block;
        text-align: center;
        padding: 10px;
        color: white;
    }

    #lang-toggle { margin: auto; }
    
    nav.active { /* Show the menu when it's active */
        display: flex;
    }

    #hamburger-menu {   /* Style the hamburger menu button */
        display: block;
        font-weight: 400;
        background: none;
        border: none;
        font-size: 30px;
        color: white;
        cursor: pointer;
        position: relative;
        top: 20px;
        margin: auto;
    }

    /* === HERO === */

    #home { height: 768px; }
    #hero-carousel .nav-button { display: none;}
    #hero-indicators { display: flex; }

}

@media (max-width: 425px) {
    #product-thumbnails { flex-direction: column; gap: 32px;}
    .product-frame { width: 100%; }
    .product-caption { font-size: 20px; }
}